<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/mvc ">
    <mvc:annotation-driven/>


    <context:property-placeholder ignore-resource-not-found="false"
                                  location="classpath:ai-app.properties"/>

    <context:component-scan base-package="com.ltar.ai"
                            use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--<mvc:interceptors>-->
    <!--&lt;!&ndash; 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 &ndash;&gt;-->
    <!--<bean class="com.aibank.wm.iqy.qiyiacct.trade.facade.interceptor.RequestInterceptor"/>-->
    <!--</mvc:interceptors>-->
    <!--<bean class="com.baidu.ub.msoa.container.support.bundle.ExtBundleContextPostProcessor">-->
    <!--<constructor-arg name="bundleName" value="QYJACT"/>-->
    <!--</bean>-->
</beans>
