<?xml version="1.0" encoding="UTF-8"?>
<!-- 监测配置文件是否有修改,默认的时间间隔为1分钟,scanPeriod设置间隔 -->
<configuration scan="true">
    <property name="configPath" value="${log.rootPath}"/>

    <apender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件输出的文件名 -->
        <File>${configPath}/baiduai.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件压缩的文件名 -->
            <FileNamePattern>${configPath}/baiduai.log.%d{yyyyMMdd}.zip</FileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </apender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>